commands:
  00-remove-expired-letsencrypt:
    command: wget --no-check-certificate -O /etc/pki/ca-trust/source/blacklist/DST-Root-CA-X3.pem https://letsencrypt.org/certs/trustid-x3-root.pem.txt
  01-install-ca:
    command: update-ca-trust extract
  02-get-root-ca-bundle:
    command: wget -O /etc/pki/ca-trust/source/anchors/ca-bundle.crt https://curl.se/ca/cacert.pem
  03-get-sectigo-ca:
    command: wget -O /etc/pki/ca-trust/source/anchors/SectigoRSADVBundle.crt https://dropmark-static.s3.amazonaws.com/vendor/SectigoRSADVBundle.crt
  04-install-ca:
    command: update-ca-trust extract
