files:
  '/opt/matomo-eb/install':
    mode: '000755'
    content: |
      #!/bin/bash
    
      # install matomo
      rm -rf /tmp/matomo*
      wget -O /tmp/matomo.zip https://builds.matomo.org/matomo.zip
      unzip -o /tmp/matomo.zip -d /tmp
      cp -a /tmp/matomo/* .
      
      # install geolocation db
      wget -O ./misc/DBIP-City.mmdb.gz https://download.db-ip.com/free/dbip-city-lite-$(date +'%Y')-$(date +'%m').mmdb.gz
      gunzip -f ./misc/DBIP-City.mmdb.gz
      
      # config env variables
      php console config:set "database.host=\"$(/opt/elasticbeanstalk/bin/get-config environment -k MATOMO_DATABASE_HOST)\""
      php console config:set "database.username=\"$(/opt/elasticbeanstalk/bin/get-config environment -k MATOMO_DATABASE_USERNAME)\""
      php console config:set "database.password=\"$(/opt/elasticbeanstalk/bin/get-config environment -k MATOMO_DATABASE_PASSWORD)\""
      php console config:set "database.dbname=\"$(/opt/elasticbeanstalk/bin/get-config environment -k MATOMO_DATABASE_DBNAME)\""
      php console config:set "General.salt=\"$(/opt/elasticbeanstalk/bin/get-config environment -k MATOMO_GENERAL_SALT)\""
      php console config:set "General.trusted_hosts=[$(/opt/elasticbeanstalk/bin/get-config environment -k MATOMO_GENERAL_TRUSTED_HOSTS)]"

      # set owner
      chown -R webapp:webapp .
