files:
  '/etc/cron.d/matomo-archive':
    mode: '000644'
    content: |
      MAILTO="$(/opt/elasticbeanstalk/bin/get-config environment -k EMAIL)"
      5 * * * * webapp /opt/matomo-eb/first-in-asg && /usr/bin/php /var/app/current/console core:archive --url=$(/opt/elasticbeanstalk/bin/get-config environment -k URL) > /tmp/matomo-archive.log
